body {
  background-color: rgb(0, 0, 0);
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.2s ease;
}

h1 {
  text-align: center;
}

#metronome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#startStopBtn {
  font-size: 24px;
  background-color: rgb(20, 20, 20);
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 12px 24px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  border-radius: 4px;
  margin: 1rem;
}

#tempoTapperBtn {
  font-size: 24px;
  background-color: rgb(20, 20, 20);
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 12px 24px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  border-radius: 4px;
  margin: 1rem;
}

#bpm {
  font-size: 2rem;
  width: 5rem;
  text-align: center;
  margin: 1rem;
}
